<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Global info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Chart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
