<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Global info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Global info</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-searchbar debounce="1000" (ionChange)="ionChange($event)" required></ion-searchbar>

<ion-button class="Favourite" (click)="setAsFavourite(this.countryname)" color="success">Save as Favourite</ion-button>

  <ion-card-content>
    <canvas #barCanvas></canvas>
  </ion-card-content>

</ion-content>

