<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Global info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Global info</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-text>This is a piechart of the global information</ion-text>

  <ion-card-content>
    <canvas #barCanvas>{{ this.createPieChart }}</canvas>
  </ion-card-content>






</ion-content>

